* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
*.md  linguist-detectable=true
*.yml linguist-detectable=true
*.yaml linguist-detectable=true
*.json linguist-detectable=true
